* {
    box-sizing: border-box;
  }
   
  body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
  }
   
  header {
    display: inline;
  }
   
  nav {
    background-color: #393b3b;
    padding: 5px;
    position: sticky;
    top: 0;
  }
   
  nav ul {
    padding-inline: 4rem;
   
    display: flex;
    gap: 2rem;
  }
   
  nav li {
    list-style-type: none;
  }

  nav li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
  }
   
  nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
  }
   
  nav a:hover {
    background-color: #fff;
    color: black;
  }
   
  main {
    padding: 20px;
   
    display: flex;
    gap: 1.5rem;
  }

  article {
    background-color: rgb(209, 209, 209);
  }
   
  #content {
    flex: 3;
   
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
  }
   
  aside {
    flex: 1;
  }
   
  h2 {
    color: #000000;
  }
   
  p {
    font-size: 1.2rem;
  }

  .custom {
    list-style-type: none;
    color: black;
  }

  .back {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    color: rgb(30, 116, 97);
  }

  .back:hover {
    font-weight: bold;
    color: #ffffff;
    background-color: #000;
  }

  figcaption {
    font-size: 1rem;
    font-weight: bold;
  }
   
  footer {
    padding: 20px;
    color: #fff;
    text-align: center;
    background-color: #393b3b;
  }
   
  .jumbotron {
    font-size: 20px;
    padding: 150px;
    background-image: url(../img/animasiAIR.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 
    1px 1px black,
    1px 1px black,
    1px 1px black,
    1px 1px black;
    color: white;
  }
   
  .profile header {
    text-align: center;
  }
   
  .featured-image {
    width: 100%;
    height: auto;
   
    object-fit: cover;
    object-position: center;
  }

.imgPenulis {
    width: 100%;
    height: auto;
   
    object-fit: cover;
    object-position: center;
}
   
.hyperteks {
    color: black;
}

.hyperteks:hover {
    font-weight: bold;
    columns: blue;
}

  .card {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
  }
   
  @media screen and (max-width: 1200px) {
    header.navbar-conteiner {
      flex-direction: column;
    }

    header.navbar-conteiner .nav-list ul {
      flex-wrap: wrap;
      column-gap: 5rem;
    }
    
    main {
      flex-flow: column nowrap;
    }
   
    main aside {
      align-self: center;
    }
  }
   
  @media screen and (max-width: 768px) {
    nav ul {
      justify-content: center;
    }
   
    main aside {
      align-self: stretch;
    }
  }